@import "pricecard.scss";

* {
  box-sizing: border-box;
}
html {
  font-family: "Montserrat", sans-serif;
  background-color: #141b1c;
}
.container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
