@import "./pricecard.scss";
@import "./options-block.scss";

* {
  box-sizing: border-box;
}
html {
  font-family: "Montserrat", sans-serif;
  background-color: #141b1c;
}
.container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.card {
  display: flex;
  min-width: 380px;
  height: 770px;
  margin: 9px;
  background-color: #334247;
}
#green {
  background-color: #5bb189;
}
#blue {
  background-color: #3a6ba5;
}
#orange {
  background-color: #ec632a;
}
