.price-card {
  display: flex;
  margin: 0 auto;
  margin-top: 33px;
  flex-direction: column;
  align-items: center;
  color: white;

  &__title {
    font-size: 35px;
    line-height: 43px;
    font-weight: 700;
  }

  &__price_green,
  &__price_orange,
  &__price_blue {
    display: flex;
    margin-top: 33px;
    width: 380px;
    height: 105px;
  }

  &__website {
    font-size: 20px;
    line-height: 24px;
  }

  &__euro {
    margin: auto;
    font-weight: bold;
    font-size: 55px;
    line-height: 67px;
  }

  &__description {
    display: flex;
    margin-top: 40px;

    & span {
      width: 327px;
      text-align: center;
      font-weight: 300;
      font-size: 15px;
      line-height: 18px;
    }
  }

  &__order-btn_green,
  &__order-btn_blue,
  &__order-btn_orange {
    margin-top: 39px;
    width: 154px;
    height: 40px;
    color: #fff;
    border: none;
    border-radius: 20px;

    & span {
      font-weight: normal;
      font-size: 14px;
      line-height: 17px;
      text-align: center;
    }
  }

  &__price_green,
  &__order-btn_green {
    background-color: #5bb189;
  }

  &__price_blue,
  &__order-btn_blue {
    background-color: #3a6ba5;
  }

  &__price_orange,
  &__order-btn_orange {
    background-color: #ec632a;
  }
}
