/* * {
  box-sizing: border-box;
} */
.login-form {
  margin: 32px;
}
div {
  margin-left: 8px;
}
input {
  /* margin-left: 8px; */
  margin-bottom: 8px;
}
textarea {
  margin-left: 8px;
  margin-bottom: 8px;
}
select {
  /* margin-left: 8px; */
  margin-bottom: 8px;
}
.sub-button {
  margin-left: 8px;
  margin-bottom: 8px;
}
