/* * {
  box-sizing: border-box;
} */
.login-form {
  margin: 32px;
}
input {
  margin: 8px;
}
textarea {
  margin: 8px;
}
select {
  margin: 8px;
}
.sub-button {
  margin: 8px;
}
input[type="radio"] {
  margin: 8px 0 0 8px;
}