/* * {
  box-sizing: border-box;
} */
.login-form {
  margin: 32px;
}
input {
  margin-left: 8px;
  margin-bottom: 8px;
}
textarea {
  margin-left: 8px;
  margin-bottom: 8px;
}
select {
  margin-left: 8px;
  margin-bottom: 8px;
}
.sub-button {
  margin-left: 8px;
  margin-bottom: 8px;
}
input[type="radio"] {
  margin: 0;
}
.languages {
  margin: 0 0 8px 0;
}