* {
  box-sizing: border-box;
}
body {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
}
.header {
  display: flex;
  height: 80px;
  padding: 20px 40px;
  align-items: center;
}
button {
  height: 40px;
  border: 1px solid grey;
  border-radius: 10px;
  cursor: pointer;
}
.create-event-btn {
  padding: 0 10px;
  margin-right: 20px;
}

.navigation__today-btn {
  margin-left: 20px;
  padding: 5px 15px;
}
.navigation__icon-btn {
  margin-left: 20px;
  background: transparent;
  border: none;
}

.calendar__header {
  display: flex;
  width: 100%;
  margin-top: 20px;
  padding-left: 60px;
}
.calendar__day-label {
  display: flex;
  height: 100%;
  flex: 1;
  flex-direction: column;
  align-items: center;
}
.calendar__day-name {
  font-size: 14px;
  text-transform: uppercase;
}
.calendar__day-number {
  font-size: 30px;
  margin-top: 10px;
}
/* part 2 */
.calendar {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 60px);
}
.sidebar {
  height: 100%;
  width: 60px;
}
.sidebar__time-slot {
  height: 60px;
  text-align: right;
}
.sidebar__time {
  position: relative;
  font-size: 10px;
  top: -15px;
  margin-left: 5px;
}
.calendar__body {
  display: flex;
  overflow: auto;
}
.calendar__week {
  display: flex;
  flex-grow: 1;
}
.calendar__day {
  flex: 1;
  border-left: 1px solid rgb(0, 0, 0);
}
.calendar__hour {
  height: 60px;
  border-bottom: 1px solid rgb(0, 0, 0);
}
