* {
  box-sizing: border-box;
}
.container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.spinner {
  position: relative;
}
.spinner-text {
  font-size: 16px;
  text-transform: uppercase;
  font-family: "Courier New", Courier, monospace;
  animation: blinking 2s infinite linear;
}
.rect {
  position: absolute;
  width: 10px;
  height: 4px;
  border-radius: 2px;
  background-color: black;
  animation: moving 2s infinite;
}
