@import "layout.scss";

* {
  box-sizing: border-box;
}
html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
@media screen and (min-width: 600px) {
  .products {
    display: flex;
    flex: 2;
  }
}
@media screen and (min-width: 900px) {
  .content {
    display: flex;
  }
}
